@font-face {
	font-family: BrownStd-Regular;
	src: url('../font/BrownStd-Regular.otf');
}

body {
	background-color: #cab49d;
	font-family: BrownStd-Regular !important;
	visibility: hidden;
}

.navbar-brand	{
	height: 38px;
}

.nav-link-mobile {
	padding-top: 10px !important; 
	padding-bottom: 10px !important; 
}

.navbar-toggler:focus{
	outline: none;
}

#mobile-logo-container{
	padding-top: 30px;
	padding-bottom: 30px;
}

.img {
	display: block;
	max-width: 100%;
	width: auto;
	height: auto;
}

.overlay1 {
	background-color: #cab49d;
	position: absolute;
	top: 20%;
	left: 0;
	width: 100%;
	height: 20%;
	z-index: 2;
}

.overlay2 {
	background-color: #cab49d;
	position: absolute;
	top: 60%;
	left: 0;
	width: 100%;
	height: 20%;
	z-index: 2;
}

#carousel{
	padding-bottom: 110px;
}

.carousel {
	padding-bottom: 110px;
}

.carousel-inner {
	position: relative;
}

.img-fluid {
	width: 100%;
	margin: auto;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
	display:block;
}

/*desktop css*/

.fadeIn-mouse {
	visibility: hidden;
}

#desktop-header {
	padding-top: 30px;
}

#desktop-logo {
	max-width: 70%;
}

.nav-link{
	color: #032663;
	letter-spacing: 3.5px;
	padding: 0;
	margin: 0 30px;
}

.nav-link:hover, .nav-link.active{
	color: white;
}

.nav-link.active{
	border-bottom: 2px solid currentcolor;
}

#desktop-main-images {
	max-width: 1200px;
}

.relative {
	position: relative;
}

#big-element-logo-div {
	z-index: 3;
}

#big-element-logo {
	z-index: 3;
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	padding-right: 4%;
	padding-left: 4%;
}

#left-col {
	padding: 0;
	margin-right: 100px;
}

#mid-col {
	padding: 0;
}

#right-col {
	padding: 0;
	margin-left: 100px;
}

.img-desktop {
	height: 350px;
	width: 100%;
	object-fit: cover;
}

.btn-shop {
	background-color: white;
	color: black;
	z-index: 2;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0.9 !important;
}

.btn-shop:hover {
	color: white;
	background-color: #265ACF;
}

.row {
	padding-bottom: 30px;
}

.jumbotron-text {
	color: white;
	z-index: 3; 
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}