
body {
	background-color: #cab49d;
}

.navbar-brand	{
	height: 38px;
}

#mobile-logo-container{
	padding-top: 25px;
	padding-bottom: 25px;
}

.img {
	display: block;
	max-width: 100%;
	width: auto;
	height: auto;
}


.overlay1 {
	background-color: #cab49d;
	position: absolute;
	top: 20%;
	left: 0;
	width: 100%;
	height: 20%;
	z-index: 2000;
}

.overlay2 {
	background-color: #cab49d;
	position: absolute;
	top: 60%;
	left: 0;
	width: 100%;
	height: 20%;
	z-index: 2000;
}

.carousel-inner {
	position: relative;
}

.img-fluid {
	max-height: 500px;
	margin: auto;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
	display:block;
}